.stepperContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stepperWrapper {
  background-color: var(--bg-tertiary);
  border-radius: 20px;
  padding: 48px;
  width: 100%;
  height: 575px;
  box-shadow: var(--shadow-glow-primary);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.progressSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.progressBar {
  height: 4px;
  border-radius: 2px;
  margin-bottom: 32px;
  overflow: hidden;
  background-color: var(--neutral-700);
}

.progressFill {
  height: 100%;
  border-radius: 2px;
  transition: width 0.3s ease;
  background-color: var(--bg-inverse);
}

.stepIndicators {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 32px;
  background-color: var(--bg-tertiary);
}

.stepDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--bg-inverse);
  transition: all 0.3s ease;
}

.stepDot.active {
  background: var(--bg-primary);
}

.stepDot.current {
  transform: scale(1.3);
  background: var(--primary-700);
}

.stepContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fadeIn 0.3s ease;
  background-color: var(--bg-tertiary);
}

.navigationButtons {
  background-color: var(--bg-tertiary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.btnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftBtns {
  display: flex;
  align-items: center;
  gap: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 399px) {
  .navigationButtons {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
