.inputGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0px;
  max-width: 640px;
}

.label {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--text-primary);
  width: 100%;
}

.input {
  border: 0;
  box-sizing: border-box;
  background-color: var(--primary-200) !important;
  box-shadow: var(--shadow-inset);
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--text-inverse);
}

.input::placeholder {
  color: var(--text-inverse);
  opacity: 0.7;
}

.input:focus-visible {
  outline: 2px solid var(--primary-500);
  outline-offset: 2px;
}

.errors {
  color: var(--error-500);
  width: 100%;
}

.errorsFiller {
  opacity: 0;
  width: 100%;
}
