.step * {
  background-color: var(--bg-tertiary);
}

.step {
  margin-bottom: 25px;
  min-height: 300px;
  background-color: var(--bg-tertiary);
  display: flex;
  flex-direction: column;
}

.welcomeIcon {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-bottom: 20px;
}

.title {
  text-align: center;
  color: var(--text-primary);
}

.subTitle {
  text-align: center;
  color: var(--text-secondary);
}

.footer {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  row-gap: 8px;
  color: var(--text-primary);
  background-color: var(--bg-tertiary);
}

.logo {
  color: var(--text-primary);
  cursor: pointer;
  text-align: center;
}
