.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0px;
  max-width: 640px;
}

.label {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--text-primary);
  width: 100%;
}

.subLabel {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--text-secondary);
  width: 100%;
  margin-top: 4px;
}

.errors {
  color: var(--error-500);
  width: 100%;
}

.errorsFiller {
  opacity: 0;
  width: 100%;
}
