.authLayoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}

.logo {
  color: var(--text-primary);
  cursor: pointer;
}

.authLayout {
  width: 100%;
  height: fit-content;
}
