/* src/components/UI/WorkoutDetails.module.css */
.workoutDetails {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 80px;
  background-color: var(--surface-hover);
  color: white;
  padding: 15px 20px;
  border-radius: 8px;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.workoutName {
  margin-bottom: 10px;
  text-transform: capitalize;
}

.muscleGroups {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.muscleGroup {
  display: flex;
  flex-direction: column;
}

.muscleGroup ul {
  margin-left: 24px;
}

.colorIndicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 2px;
}

.primary .colorIndicator {
  background-color: #ff3333;
}

.secondary .colorIndicator {
  background-color: #ff9933;
}

.muscleGroup li {
  padding: 3px 0;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.9);
}

.instructions h3 {
  font-size: 1rem;
  margin-bottom: 5px;
}

.instructions p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.9);
}

.headerMusclesLabel {
  display: flex;
  align-items: center;
  gap: 8px;
}

.instructions ul {
  margin-left: 20px;
}
