.authPageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: black;
  /* height: calc(100vh - 75px); */
}

.stepperSection{
  /* border: 2px solid blue; */
}

.authImages {
  width: 100%;
}
